<div class="row mb-3 text-center">
    <div class="col">
        <h1 class="text-muted fs-5">
            Total : <strong>{{ total }}</strong> |
            Restantes : <strong class="text-danger">{{ remaining }}</strong> |
            Terminées : <strong class="text-success">{{ completed }}</strong>
        </h1>
    </div>
</div>